<h3>Coffee Products</h3>
<% if flash[:notice] %>
  <div class="notice alert alert-primary alert-dismissible fade show" role="alert">
    <%= flash[:notice] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if @products.any? %>
            <ul>
              <%@products.each do |product| %>
              <li><%=link_to product.name, product_path(product)%></li>
              <%end%>
            </ul>
            <%else%>
            <p>There are no current products</p>
            <%end%>
<div class="row">
 <div class="col-md-6">
   <table class="table">
     <thead class="thead-light">
       <tr>
         <th scope="col">&nbsp;</th>
         <th scope="col">&nbsp;</th>
        </tr>
      </thead>

   </table>
 </div>
</div>

<%= link_to 'Add product', new_product_path %>
